
.container {
    position: relative;
    width: 1200px;         /* w1200 */
    border: 5px dashed orange;
    margin: auto;
}

section {
    margin-top: 20px;            /* mt20 */
    margin-right: 40px;          /* mr20 */
    margin-bottom: 80px;         /* mb20 */
    margin-left: 160px;          /* ml20 */
    width: 200px;                /* w200*/
    height: 200px;               /* h200 */
    display: inline-block;
    border: 3px solid gray;
}