* { margin: 0; padding: 0; }

#wrap {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(245,242,146,1) 0%, rgba(107,121,9,1) 35%, rgba(58,163,100,1) 65%, rgba(0,212,255,1) 100%);;


/* 애니메이션  */
animation-name: ball;
animation-duration: 3s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

#wrap h1 { line-height: 200px; color: white; text-align: center; }

/* 애니메이션의 변경지점을 지정하는 속성 */
@keyframes ball {

    /* 시작위치 from or 0% */
    from {
        left: 0;
        transform: rotate(0deg);
    }

    25% {
        left: 250px;
        
    }


    50% {
        left: 500px;
        transform: rotate(360deg);
    }


    75% {
        left: 250px;
        
    }

    /* 종료위치 to or 100% */
    to {
        left: 0px;
        transform: rotate(0deg);
    }
}

